# Compiled class file
*.class

*.war

# Log file
*.log

.gradle/

.vertx/

.out/

bin/

target/
!.mvn/wrapper/maven-wrapper.jar

test-output/

LOG_PATH_IS_UNDEFINED/

#/src/main/resources/application-dev.properties
#/src/main/resources/application-test.properties

.svn
*.svn

### STS ###
.apt_generated
#.classpath
.factorypath
#.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/libraries/*.xml
.idea/modules/
.idea/inspectionProfiles/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
#dist/
nbdist/
.nb-gradle/

src/main/WebRoot/WEB-INF/classes/
src/main/WebRoot/upload/
src/main/resources/jdbc.properties
src/main/dist
src/main/resources/
.idea/.name
.idea/uiDesigner.xml
.idea/workspace.xml
!/.idea/
/.idea/libraries/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/
/local.properties
